

<div id="test"></div>
<!-- 192.168.0.181 is my server laptop's local IP -->
<script>
const socket = new WebSocket('ws://192.168.0.123:8764');
var wrapper = document.getElementById("test")

socket.addEventListener('open', function (event) {
    console.log('Connected to server');
});

socket.addEventListener('message', function (event) {
    var content = document.createTextNode("<br>" + event.data + "<br>");
    // console.log('Received message:', event.data);
    wrapper.innerHTML += "<br>" + event.data + "<br>";
});

</script>