  .table-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
  }
  
  form input {
    width: 30%;
    padding: 10px;
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 16px;
    color: black;
  }
  
  form button {
    width: 15%;
    padding: 10px;
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  table {
    width: 80%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 10px;
    border: 1px solid lightgray;
    text-align: center;
    font-size: 16px;
    color: black;

  }
  
  th {
    background-color: lightgray;
  }
  