* {
  color: rgb(164, 166, 179);
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 600;

}

/* p {
  margin-top: auto;
  margin-bottom: auto;
  background-color: #363740;
} */

.profile-content {
  padding-top: 5vw;
  text-align: center;

}

#profile-text {
  color: black;
  padding: 30px;
  font-size: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 18% 82%;
  grid-template-rows: auto;
}


.header {
  grid-column: 1 / 3;
  background-color: #363740;
  display: flex;
  flex-direction: row-reverse;
  border-bottom: 2px solid rgb(222, 222, 222);
  
} 
.left-grid {
  grid-column: 1 / 2;
  background-color: #363740;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;

}

.right-grid {
  padding-top: 1%;
  grid-column: 2 / 3;
  background-color: #F7F8FC;
  min-height: 100vh;
  color: rgb(0, 0, 0);

}


/* Style the tab */
.tab {
  float: left;
  height: 200px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: #363740;
  color: rgb(164, 166, 179);
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  text-align: left;
  padding-left: 18%;

}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #4d4e5b;
  border-left: 4px solid rgb(255, 255, 255);
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #4d4e5b;
}


/* Style the tab */
.btn {
  display: flex;
}

/* Style the buttons that are used to open the tab content */
.btn button {
  display: block;
  background-color: #363740;
  color: rgb(164, 166, 179);
  padding: 22px 16px;
  width: 100px;
  border: none;
  outline: none;
  /* text-align: left; */
  cursor: pointer;
  transition: 0.3s;
  text-align: center;

}

/* Change background color of buttons on hover */
.btn button:hover {
  background-color: #4d4e5b;
  border-left: 4px solid rgb(255, 255, 255);
}

/* Create an active/current "tab button" class */
.btn button.active {
  background-color: #4d4e5b;
}

.vl {
  border-left: 2px solid rgb(222, 222, 222);
}

.topnav {
  overflow: hidden;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
  border: 1px solid #4d4e5b;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #646566;
  color: white;
}

.topnav input[type=text] {
  float: right;
  border: none;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

h1 {
  background-color: #F7F8FC;
  color: black;
  font-size: 25px;
}

.tabcontent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #F7F8FC;
  color: black
}

.alert {
  background-color:  #F7F8FC;
  color: black;
}

.alert-container {
  margin-left: 14%;
  margin-top: 5%;
}

